
@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

 
<div class="wrapper">
    <main>
        <section class="intro" id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <h2 class="section-title">Hakkımızda</h2>
                    </div>
                </div>
                <div class="row margin-bottom ">
                    <div class="col-md">
                        <p class="highlight">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        <p class="author">- John Doe</p>
                    </div>
                    <div class="col-md">
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    <div class="col-md">
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </div>
                <div class="row team center-xs">
                    <div class="col-md">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/Romi-Kobe.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Romi Kobe</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                    <a href="#!" target="blank" rel="noopener"><img src="/img/facebook-icon.svg" class="team-icon"></a> <a href="#!" target="blank" rel="noopener"><img src="img/twitter-icon.svg" class="team-icon"></a>
                                </div>
                            </div>
                        </div>
                        <p class="team-name">Romi Kobe<br/><span class="position">CEO</span></p>
                    </div>
                    <div class="col-md">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/Isaac-Desideria.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Isaac Desideria</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                    <a href="#!" target="blank" rel="noopener"><img src="/img/facebook-icon.svg" class="team-icon"></a> <a href="#!" target="blank" rel="noopener"><img src="img/twitter-icon.svg" class="team-icon"></a>
                                </div>
                            </div>
                        </div>
                        <p class="team-name">Isaac Desideria<br/><span class="position">CTO</span></p>
                    </div>
                    <div class="col-md">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/Magda-Ilija.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Magda Ilija</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                    <a href="#!" target="blank" rel="noopener"><img src="/img/facebook-icon.svg" class="team-icon"></a> <a href="#!" target="blank" rel="noopener"><img src="img/twitter-icon.svg" class="team-icon"></a>
                                </div>
                            </div>
                        </div>
                        <p class="team-name">Magda Ilija<br/><span class="position">CFO</span></p>
                    </div>
                </div>
            </div>
        </section>
        <hr/>
        <section class="services" id="services">
         
        </section>
 
        <section class="portfolio" id="portfolio">
            <div class="container">
                <div class="row center-xs">
                    <div class="col-md">
                        <h2 class="section-title">Ürünler</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
            </div>
            <div class="padding-small">
                <div class="row margin-bottom-small">
                    <div class="col-md-4">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/project-1.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Projecttitle</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                    <a href=""><button class="light">Call to action</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/project-2.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Projecttitle</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                    <a href=""><button class="light">Call to action</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/project-3.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Projecttitle</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                    <a href=""><button class="light">Call to action</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-small">
                    <div class="col-md-4">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/project-4.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Projecttitle</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                    <a href=""><button class="light">Call to action</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/project-5.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Projecttitle</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                    <a href=""><button class="light">Call to action</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hover-outer-box">
                            <img src="/BeBlack Free Website Template - Free-CSS.com/img/project-6.jpg">
                            <div class="hover-inner-box">
                                <div class="hover-content">
                                    <h3>Projecttitle</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                    <a href=""><button class="light">Call to action</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md center-xs">
                            <h2 class="section-title">İletişim Bilgilerimiz</h2>
                        </div>
                    </div>
                    <form action="">
                        <div class="row margin-bottom-small center-xs">

                            <div class="col-md padding-small">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="col-md">100. Yıl Mahallesi Şube</div>
                                        <div class="col-md">İlgili Telefon<br/>+49 561 0000 0000</div>
                                        <div class="col-md">Adres<br/>Streetname 12</div>
                                        <div class="col-md">Email<br/>kontakt@lautenschlager.de</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md padding-small">
                                <div class="col-md">Altınşehir Şube</div>
                                <div class="col-md">İlgili Telefon<br/>+49 561 0000 0000</div>
                                <div class="col-md">Adres<br/>Streetname 12</div>
                                <div class="col-md">Email<br/>kontakt@lautenschlager.de</div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
