@{
    ViewData["Title"] = "GeneralError";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<span class="clearfix title">
    <span class="number left">Error</span>&nbsp <span class="text-danger">@ViewBag.ErrorCode</span><br /><span class="text">@ViewBag.ErrorMessage</span>
</span>

