@model AllLayoutViewModel
@{
    ViewData["Title"] = "AddCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .whiteColor {
            color: white !important;
        }
    </style>
</head>



<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Kategori Kaydet </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @if (ViewBag.error != null)
                        {
                            <div class="alert-danger">@ViewBag.error</div>
                        }
                        else if (ViewBag.success != null)
                        {
                            <div class="alert-success">@ViewBag.success</div>
                        }
                        @*      <h4 class="card-title">Basic form elements</h4>
                        <p class="card-description"> Basic form elements </p>*@
                        <form asp-controller="Expenses" asp-action="AddCategoria" class="forms-sample" name="formadd" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputPassword4">Kategori</label>
                                <input class="form-control whiteColor" placeholder="Kategori" type="text" asp-for="expenseCategoria.name" required />
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

